# Claude
CLAUDE.md

# .Net
api/**/bin/
api/**/obj/
api/**/*.user
**/appsettings.Development.json

# Nestjs
bff/node_modules/
bff/dist/
bff/.eslintcache
bff/.prettiercache
bff/.env

# Web
web/node_modules/
web/dist/
web/.eslintcache
web/.prettiercache
web/.env